<header id="header">
  <nav class="">
  <div class="">
    <div class="container">
      <a class="brand" href="/">FlatWhite Fortunes</a>
      <ul class="nav">
        <li class="active"><a href="/coffee_attempts">Submissions</a></li>
        <li><%= link_to 'New Coffee attempt', new_coffee_attempt_path %></li>
      </ul>
    </div>
  </div>
</nav>

</header>
